.services {
  padding: 50px 0 30px;

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
  }

  @include titleBlock();

  //  &__title-box,
  //  {
  //  max-width: 520px;
  //  padding-left: 140px;
  //  position: relative;

  //  &:before {
  //    content: '';
  //    position: absolute;
  //    left: 0;
  //    top: 11px;
  //    width: 106px;
  //    height: 2px;
  //    background-color: #ffc222;


  //  }
  // }

  // &__title {
  //  color: #212020;
  //  font-family: 'Roboto', sans-serif;
  //  font-size: 24px;
  //  font-weight: 500;
  //  line-height: 24px;
  //  margin-bottom: 10px;
  // }

  // &__text {
  //  color: #5e5e5e;
  //  font-size: 14px;
  //  font-weight: 400;
  //  line-height: 18px;
  // }

  &__btn {

    a {
      color: #373636;
      font-family: 'Roboto', sans-serif;
      line-height: 24px;
      letter-spacing: 0.35px;


      padding: 5px 38px;
      border: 3px solid #e6e6e6;
    }
  }

  &__items {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    max-width: 360px;
    height: 363px;
    box-shadow: 0 7px 24px 3px rgba(91, 89, 89, 0.14);
    background-color: #f9f9f9;
    text-align: center;
    padding: 30px 0 80px;
    position: relative;
    min-height: 375px;

    &-title {

      color: #212020;
      font-family: 'Roboto', sans-serif;
      font-size: 18px;
      font-weight: 500;
      line-height: 24px;
      padding: 24px 0;

    }

    &-text {
      color: #5e5e5e;
      line-height: 18px;
      letter-spacing: 0.14px;
      padding: 0 30px 30px;

    }

    &-btn {
      position: absolute;
      bottom: 40px;
      left: 0;
      right: 0;



      & .default-btn {
        color: #373636;

      }

      & .default-btn:after {
        color: #fff;
      }
    }

    &-link {
      color: #050505;
      font-family: 'Roboto', sans-serif;
      line-height: 18px;
      border-bottom: 1px solid #050505;
      margin-right: 65px;
    }
  }
}